<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<div class="container">
    <div class="d-flex my-4 justify-content-between">
        <h2>Add Category</h2>
    </div>

    <form method="post" th:action="@{/category/save}" th:object="${category}">

        <input type="hidden" th:field="*{id}">
        <table class=" table table-sm table-borderless">
            <tr>
                <th class="text-center">Name</th>
                <td>
                    <!-- if there are some errors add in class 'is-invalid'     -->
                    <input
                            th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : '' "
                            type="text" class="form-control form-control-sm " placeholder="Category name..."
                            th:field="*{name}">

                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                </td>
            </tr>
            <tr>
                <th class="text-center">Description</th>
                <td>
                    <input th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : '' "
                           type="text" class="form-control form-control-sm" placeholder="Description..."
                           th:field="*{description}">

                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"></div>
                </td>
            </tr>

        </table>

        <div class="d-grid">
            <button class="btn btn-outline-primary btn-sm" type="submit">Save</button>
        </div>
    </form>


</div>

<script th:inline="javascript">
    let category = [[${category}]];
<!--    thymeleaf cho phép chèn dữ liệu từ model vào JS qua kí pháp này và trả về kiểu JSON của đối tượng-->
    console.log(category);
</script>

</body>
</html>