<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header::header}"></div>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<div class="container">
    <div class="d-flex my-4 justify-content-between">
        <h2>Edit Category</h2>
    </div>
    <form method="post" th:action="@{/category/save}" th:object="${category}">

        <input type="hidden" th:field="*{id}">

        <table class=" table table-sm table-borderless">
            <tr>
                <th class="text-center">Name</th>
                <td>
                    <input type="text" class="form-control form-control-sm" placeholder="Category name..."
                           th:field="*{name}">
                </td>
            </tr>
            <tr>
                <th class="text-center">Description</th>
                <td>
                    <input type="text" class="form-control form-control-sm" placeholder="Description..." th:field="*{description}">
                </td>
            </tr>

        </table>

        <div class="d-grid">
            <button class="btn btn-outline-primary btn-sm" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>